/* =========================================
   SAMPLE CONTRACTS
========================================= */

.contracts-section {

    max-width: 1280px;

    margin: 10px auto 35px;

    padding: 0 32px;
}

.contracts-title {

    font-size: 12px;

    letter-spacing: 2px;

    font-weight: 700;

    color: #6B7280;

    margin-bottom: 14px;
}

.contracts-grid {

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 24px;
}

.contract-card {

    position: relative;

    background: white;

    border: 1px solid #E5E7EB;

    border-radius: 20px;

    padding: 18px;

    display: flex;

    flex-direction: column;

    min-height: 240px;

    transition: .25s;
}

.contract-card:hover:not(.active) {
    transform: translateY(-3px);
    box-shadow: 0 14px 35px rgba(0,0,0,.06);
}

.contract-card.active {

    border: 2px solid #5B46B2;

    box-shadow: 0 10px 30px rgba(91,70,178,.12);
}

.selected-badge {

    position: absolute;

    top: 18px;

    right: 18px;

    background: #22C55E;

    color: white;

    padding: 6px 12px;

    border-radius: 999px;

    font-size: 12px;

    font-weight: 700;
}

.file-icon {

    width: 40px;

    height: 40px;

    border-radius: 14px;

    background: #F3F4F6;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 18px;

    margin-bottom: 14px;
}

.contract-card h2 {

    font-size: 18px;

    line-height: 1.25;

    color: #111827;

    margin-bottom: 10px;
}

.contract-card p {

    color: #6B7280;

    font-size: 13px;

    line-height: 1.45;

    margin-bottom: 14px;
}

.tags {

    display: flex;

    flex-wrap: wrap;

    gap: 8px;

    margin-bottom: auto;
}

.tags span {

    background: #F3F4F6;

    color: #374151;

    padding: 5px 10px;

    border-radius: 999px;

    font-size: 11px;

    font-weight: 600;
}

.contract-card button {

    margin-top: 18px;

    height: 38px;

    border-radius: 12px;

    border: 1px solid #D1D5DB;

    background: white;

    color: #111827;

    font-size: 13px;

    font-weight: 600;

    cursor: pointer;

    transition: .2s;
}

.contract-card button:hover {

    background: #F9FAFB;
}

.selected-button {

    background: #5B46B2 !important;

    color: white !important;

    border: none !important;
}
.contract-card button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}