@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:"Inter",sans-serif;
}

html{

    scroll-behavior:smooth;
}

body{

    background:#F8FAFC;

    color:#111827;

    min-height:100vh;
}

a{

    text-decoration:none;

    color:inherit;
}

button{

    font-family:inherit;
}

input,
textarea{

    font-family:inherit;
}